<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/goprocure.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.enrich.goprocure</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Eghambaram Subramanian (46BZ6J252G)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2016-09-13T15:36:37Z</date>
	<key>Name</key>
	<string>Oracle_ADFmc_Container_Template</string>
	<key>SchemeName</key>
	<string>Oracle_ADFmc_Container_Template</string>
</dict>
</plist>
